<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
</head>
<body style="margin: 50px;">
    <h1>Login</h1>
    <hr>
<form action="/sb/user/loginProc" method="post">
    <input type="text" name="uid" placeholder="member ID"><br><br>
    <input type="password" name="pwd" placeholder="비밀번호"><br><br>
    <input type="submit" value="로그인">
</form>
</body>
</html>