<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 등록</title>
    <style>
        input{ padding: 3px; }
    </style>
</head>
<body style="margin: 50px;">
    <h1>사용자 등록</h1>
    <hr>
    <form action="/sb/user/register" method="post">
        <input type="text" name="uid" placeholder="uid"><br><br>
        <input type="password" name="pwd" placeholder="password"><br><br>
        <input type="password" name="pwd2" placeholder="password check"><br><br>
        <input type="text" name="uname" placeholder="uname"><br><br>
        <input type="text" name="email" placeholder="email"><br><br>
        <input type="submit" value="등록">
    </form>
</body>
</html>