<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
		.national { background-color: bisque; }
		.summer { font-size: large; }
	</style>
</head>
<body style="margin: 50px;">
    <h1>텍스트 출력 및 태그 속성</h1>
    <hr>
    <ul> Object
      <li>[[${member.mid}]]</li>
      <li>[[${member['name']}]]</li>
      <li>[[${member.getAge()}]]</li>
    </ul>
    <ul> List
      <li>[[${memberList[1].mid}]]</li>
      <li>[[${memberList[1]'name']}]]</li>
      <li>[[${memberList[1].getAge()}]]</li>
    </ul>
    <ul> 세션
		<li>[[${session.sessUname}]]</span></li>
		<li>[[${member.getAge()}]]</span></li>
	</ul>
</body>
</html>